<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.study.sample.mapper.OnedayClassHandcraft59Mapper">
	<select id="onedayClassHandcraftSelectOne" resultType="onedayClassHandcraft59VO" parameterType="onedayClassHandcraft59VO">
		SELECT och_idx
			 , och_store_name
			 , och_loc
			 , och_class_info
			 , och_detail
			 , och_price
			 , och_class_status
		FROM oneday_class_handcraft59
		WHERE och_idx = #{ochIdx}
	</select>
	<select id="onedayClassHandcraftList" resultType="onedayClassHandcraft59VO" parameterType="onedayClassHandcraft59VO">
		SELECT och_idx
			 , och_store_name
			 , och_loc
			 , och_class_info
			 , och_detail
			 , och_price
			 , och_class_status
		FROM oneday_class_handcraft59
		<where> 
			<if test="ochStoreName != null and !ochStoreName.equals('')">
				AND och_store_name Like '%' || #{ochStoreName} || '%'
			</if>
			<if test="ochLoc != null and !ochLoc.equals('')">
				AND och_loc Like '%' || #{ochLoc} || '%'
			</if>
		</where>
	</select>
	<insert id="insertOnedayClassHandcraft" parameterType="onedayClassHandcraft59VO">
	        INSERT INTO oneday_class_handcraft59(
			   och_store_name
			 , och_loc
			 , och_class_info
			 , och_detail
			 , och_price
			 , och_class_status
	        ) VALUES (
	        	
	            #{ochStoreName}
	           ,#{ochLoc}
	           ,#{ochClassInfo}
	           ,#{ochDetail}
	           ,#{ochPrice}
	           ,#{ochClassStatus}
	        )
	</insert>
	<update id="saveOnedayClassHandcraft" parameterType="onedayClassHandcraft59VO">
	        WITH UPSERT AS (
	        UPDATE oneday_class_handcraft59
		    SET 
			    och_store_name = #{ochStoreName}
			  , och_loc = #{ochLoc}
			  , och_class_info = #{ochClassInfo}
			  , och_detail = #{ochDetail}
			  , och_price = #{ochPrice}
			  , och_class_status = #{ochWriteDay}
	        WHERE och_idx = #{ochIdx} RETURNING *
	)
	        INSERT
	        INTO oneday_class_handcraft59 ( 
									 , och_store_name
									 , och_loc
									 , och_class_info
									 , och_detail
									 , och_price
									 , och_class_status)
	        SELECT 
	            #{ochStoreName}
	           ,#{ochLoc}
	           ,#{ochClassInfo}
	           ,#{ochDetail}
	           ,#{ochPrice}
	           ,#{ochClassStatus} WHERE NOT EXISTS ( SELECT * FROM UPSERT )
	</update>
	<update id="updateOnedayClassHandcraft" parameterType="onedayClassHandcraft59VO">
		UPDATE oneday_class_handcraft59 SET
			   och_store_name = #{ochStoreName}
			  , och_loc = #{ochLoc}
			  , och_class_info = #{ochClassInfo}
			  , och_detail = #{ochDetail}
			  , och_price = #{ochPrice}
			  , och_class_status = #{ochClassStatus}
	        WHERE och_idx = #{ochIdx}
	</update>
	<delete id="deleteOnedayClassHandcraft" parameterType="onedayClassHandcraft59VO">
	 	DELETE from oneday_class_handcraft59
	 	WHERE och_idx = #{ochIdx}
	</delete>
</mapper>