<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.study.sample.mapper.PlantsBlogger32Mapper">
	<select id="plantsBloggerSelectOne" resultType="plantsBlogger32VO" parameterType="plantsBlogger32VO">
		SELECT pb_idx
			 , pb_name
			 , pb_title
			 , pb_activity_status
		FROM plant_blogger32
		WHERE pb_idx = #{pbIdx}
	</select>
	<select id="plantsBloggerList" resultType="plantsBlogger32VO" parameterType="plantsBlogger32VO">
		SELECT pb_idx
			 , pb_name
			 , pb_title
			 , pb_activity_status
		FROM plant_blogger32
		<where> 
			<if test="pbIdx != null and !pbIdx.equals('')">
				AND pb_idx Like '%' || #{pbIdx} || '%'
			</if>
			<if test="pbTitle != null and !pbTitle.equals('')">
				AND pb_title Like '%' || #{pbTitle} || '%'
			</if>
		</where>
	</select>
	<insert id="insertPlantsBlogger" parameterType="plantsBlogger32VO">
	        INSERT INTO plant_blogger32(
	           pb_idx
			 , pb_name
			 , pb_title
			 , pb_activity_status
	        ) VALUES (
	        	#{pbIdx}
	           ,#{pbName}
	           ,#{pbTitle}
	           ,#{pbActivityStatus}
	        )
	</insert>
	<update id="savePlantsBlogger" parameterType="plantsBlogger32VO">
	        WITH UPSERT AS (
	        UPDATE plant_blogger32
		    SET pb_name = #{pbName}
			  , pb_title = #{pbTitle}
			  , pb_activity_status = #{pbActivityStatus}
	        WHERE pb_idx = #{pbIdx} RETURNING *
	)
	        INSERT
	        INTO plant_blogger32 (     pb_idx
									 , pb_name
									 , pb_title
									 , pb_activity_status)
	        SELECT #{pbIdx}
		           ,#{pbName}
		           ,#{pbTitle}
		           ,#{pbActivityStatus} WHERE NOT EXISTS ( SELECT * FROM UPSERT )
	</update>
	<update id="updatePlantsBlogger" parameterType="plantsBlogger32VO">
		UPDATE plant_blogger32 SET
			    pb_name = #{pbName}
			  , pb_title = #{pbTitle}
			  , pb_activity_status = #{pbActivityStatus}
	        WHERE pb_idx = #{pbIdx}
	</update>
	<delete id="deletePlantsBlogger" parameterType="plantsBlogger32VO">
	 	DELETE from plant_blogger32
	 	WHERE pb_idx = #{pbIdx}
	</delete>
</mapper>