<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.study.sample.mapper.PlantsBlog33Mapper">
	<select id="plantsBlogSelectOne" resultType="plantsBlog33VO" parameterType="plantsBlog33VO">
		SELECT pbs_idx
			 , pbs_name
			 , pbs_title
			 , pbs_content
			 , pbs_day
		FROM plant_blog33
		WHERE pbs_idx = #{pbsIdx}
	</select>
	<select id="plantsBlogList" resultType="plantsBlog33VO" parameterType="plantsBlog33VO">
		SELECT pbs_idx
			 , pbs_name
			 , pbs_title
			 , pbs_content
			 , pbs_day
		FROM plant_blog33
		<where> 
			<if test="pbsIdx != null and !pbsIdx.equals('')">
				AND pbs_idx Like '%' || #{pbsIdx} || '%'
			</if>
			<if test="pbsName != null and !pbsName.equals('')">
				AND pbs_name Like '%' || #{pbsName} || '%'
			</if>
			<if test="pbsTitle != null and !pbsTitle.equals('')">
				AND pbs_title Like '%' || #{pbsTitle} || '%'
			</if>
		</where>
	</select>
	<insert id="insertPlantsBlog" parameterType="plantsBlog33VO">
	        INSERT INTO plant_blog33(
	           pbs_idx
			 , pbs_name
			 , pbs_title
			 , pbs_content
			 , pbs_day
	        ) VALUES (
	        	#{pbsIdx}
	           ,#{pbsName}
	           ,#{pbsTitle}
	           ,#{pbsContent}
	           ,#{pbsDay}
	        )
	</insert>
	<update id="savePlantsBlog" parameterType="plantsBlog33VO">
	        WITH UPSERT AS (
	        UPDATE plant_blog33
		    SET pbs_name = #{pbsName}
			  , pbs_title = #{pbsTitle}
			  , pbs_content = #{pbsContent}
			  , pbs_day = #{pbsDay}
	        WHERE pbs_idx = #{pbsIdx} RETURNING *
	)
	        INSERT
	        INTO plant_blog33 (  pbs_idx
								 , pbs_name
								 , pbs_title
								 , pbs_content
								 , pbs_day)
	        SELECT #{pbsIdx}
		           ,#{pbsName}
		           ,#{pbsTitle}
		           ,#{pbsContent}
		           ,#{pbsDay} WHERE NOT EXISTS ( SELECT * FROM UPSERT )
	</update>
	<update id="updatePlantsBlog" parameterType="plantsBlog33VO">
		UPDATE plant_blog33 SET
			    pbs_name = #{pbsName}
			  , pbs_title = #{pbsTitle}
			  , pbs_content = #{pbsContent}
			  , pbs_day = #{pbsDay}
	        WHERE pbs_idx = #{pbsIdx}
	</update>
	<delete id="deletePlantsBlog" parameterType="plantsBlog33VO">
	 	DELETE from plant_blog33
	 	WHERE pbs_idx = #{pbsIdx}
	</delete>
</mapper>