<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.study.sample.mapper.StudyCertificateNews15Mapper">
	<select id="studyCertificateNewsSelectOne" resultType="studyCertificateNews15VO" parameterType="studyCertificateNews15VO">
		SELECT scns_idx
			 , scns_name
			 , scns_title
			 , scns_image
			 , scns_content
			 , scns_write_day
		FROM study_certificate_news15
		WHERE scns_idx = #{scnsIdx}
	</select>
	<select id="studyCertificateNewsList" resultType="studyCertificateNews15VO" parameterType="studyCertificateNews15VO">
		SELECT scns_idx
			 , scns_name
			 , scns_title
			 , scns_image
			 , scns_content
			 , scns_write_day
		FROM study_certificate_news15
		<where> 
			<if test="scnsIdx != null and !scnsIdx.equals('')">
				AND scns_idx Like '%' || #{scnsIdx} || '%'
			</if>
			<if test="scnsName != null and !scnsName.equals('')">
				AND scns_name Like '%' || #{scnsName} || '%'
			</if>
			<if test="scnsTitle != null and !scnsTitle.equals('')">
				AND scns_title Like '%' || #{scnsTitle} || '%'
			</if>
		</where>
	</select>
	<insert id="insertStudyCertificateNews" parameterType="studyCertificateNews15VO">
	        INSERT INTO study_certificate_news15(
	           scns_idx
			 , scns_name
			 , scns_title
			 , scns_image
			 , scns_content
			 , scns_write_day
	        ) VALUES (
	        	#{scnsIdx}
	           ,#{scnsName}
	           ,#{scnsTitle}
	           ,#{scnsImage}
	           ,#{scnsContent}
	           ,#{scnsWriteDay}
	        )
	</insert>
	<update id="saveStudyCertificateNews" parameterType="studyCertificateNews15VO">
	        WITH UPSERT AS (
	        UPDATE study_certificate_news15
		    SET scns_name = #{scnsName}
			  , scns_title = #{scnsTitle}
			  , scns_image = #{scnsImage}
			  , scns_content = #{scnsContent}
			  , scns_write_day = #{scnsWriteDay}
	        WHERE scns_idx = #{scnsIdx} RETURNING *
	)
	        INSERT
	        INTO study_certificate_news15 (  scns_idx
										 , scns_name
										 , scns_title
										 , scns_image
										 , scns_content
										 , scns_writeDay)
	        SELECT #{scnsIdx}
	           ,#{scnsName}
	           ,#{scnsTitle}
	           ,#{scnsImage}
	           ,#{scnsContent}
	           ,#{scnsWriteDay} WHERE NOT EXISTS ( SELECT * FROM UPSERT )
	</update>
	<update id="updateStudyCertificateNews" parameterType="studyCertificateNews15VO">
		UPDATE study_certificate_news15 SET
			   scns_name = #{scnsName}
			  , scns_title = #{scnsTitle}
			  , scns_image = #{scnsImage}
			  , scns_content = #{scnsContent}
			  , scns_write_day = #{scnsWriteDay}
	        WHERE scns_idx = #{scnsIdx} 
	</update>
	<delete id="deleteStudyCertificateNews" parameterType="studyCertificateNews15VO">
	 	DELETE from study_certificate_news15
	 	WHERE  scns_idx = #{scnsIdx} 
	</delete>
</mapper>